title {
    color: aqua;
    text-align: center;
    transition-delay: 2s;
}

h1 {
    color: red;
    text-align: center;
    text-decoration: seagreen;
}

rightfloat{
    float: right;
    border-style: ridge;
    padding-left: 18px;
    background-color: darkorange;
}
