.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #cc323d;
    text-align: left;
}

.ul {
    text-align: left;
    background-color: #cc323d;
    text-decoration-color: #cc323d
}