.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    background-color: aqua;
    text-align: left;
    text-decoration: wheat;
}

.ul {
    text-align: left;
    background-color: #cc323d;
}