title {
    color: aqua;
    text-align: center;
    transition-delay: 2s;
}

h1 {
    color: red;
    text-align: center;
    text-decoration: seagreen;
}

h2 {
    color: blueviolet;
    line-height: -1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

rightfloat{
    float: right;
    border-style: ridge;
    padding-left: 18px;
    background-color: darkorange;
}
